<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:include="fragments/components::header">
<body>
<div th:replace="fragments/components::menu_client"></div>

<div class="container mt-1">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h2 class="form-heading text-center">Orders</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th> Date</th>
                <th> Price </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${orders.isEmpty()}">
                <td colspan="2"> No Orders Available</td>
            </tr>
            <tr th:each="product : ${products}">
                <td><span th:text="${orders?.date}"> Date </span></td>
                <td><span th:text="${product?.id}"> Trader </span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:include="fragments/components::bootstrap_script"/>

</body>
</html>