<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:include="fragments/components::header">
<body>
<div th:replace="fragments/components::menu_trader"></div>

<div class="container mt-1">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h2 class="form-heading text-center">Add products</h2>

        <select class="form-control" id="testOrder" name="testOrder">
            <option value="">Select Test Order</option>
<!--            <option th:each="test : ${tests}"-->
<!--                    th:value="${test.testCode}"-->
<!--                    th:text="${test.testCode}+' : '+${test.testName}"></option>-->
        </select>
    </div>
</div>

<div th:include="fragments/components::bootstrap_script"/>

</body>
</html>