<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
>
<head th:include="fragments/components::header">
<body>
<div th:replace="fragments/components::menu_trader"></div>

<div class="container mt-1">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h2 class="form-heading text-center">Add products</h2>

        <div class="container" style="width: 50%; margin-top: 20px; margin-inside: 10px;">
            <select class="form-control" id="newProduct" name="newProduct">
                <option value="">Select product</option>
                <option th:each="product : ${products}"
                        th:value="${product?.id}"
                        th:text="${product?.productName}"></option>
            </select>

            <input type="number" name="max_limit" aria-label="Max limit">
        </div>
    </div>
</div>

<div th:include="fragments/components::bootstrap_script"/>

</body>
</html>