<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:include="fragments/components::header">
<body>
<div th:replace="fragments/components::menu_client"></div>

<div class="container mt-1" style="width: 50%;">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h2 class="form-heading text-center">Order history</h2>

        <div class="row" style="margin-top: 30px">
            <div th:each="order, stat : ${orders}" >
                <div class="card" style="margin: 10px;">

                    <div class="card-body" >
                        <h5 class="card-title" th:text="${'Order ' + order.orderId}"> Order </h5>

                        <p class="card-text" th:text="${'date: ' + order.date}">Date</p>

                        <table class="table table-striped">
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                            </tr>
                            <tr th:each="instance  : ${order.productQuantity}">
                                <td th:text="${instance.key}">Product</td>
                                <td th:text="${instance.value}">Quantity</td>
                            </tr>
                        </table>

                        <p class="card-text" th:text="${'total price: ' + order.totalPrice}">Price</p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/components::bootstrap_script"/>

</body>
</html>