<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:include="fragments/components::header">
<body>
<div th:replace="fragments/components::menu_client"></div>

<div class="container mt-1" style="align-content: center;">
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h2 class="form-heading text-center">Products</h2>

        <div class="container" style="width: 50%; margin-top: 20px; margin-inside: 10px; align-items: center">
            <form th:action="@{/client/search}" th:object="${searchFilters}" method="get">
                <h4>Filter products</h4>
                <div class="row">

                    <div class="form-floating">
                        <input id="keyword" type="text" class="form-control" name="keyword" th:value="${keyword}"
                               placeholder="Find by name"/>
                        <label for="keyword">Keyword</label>
                    </div>
                </div>

                <div class="row" style="align-items: center; margin: 5px">
                    <div class="col">
                        <h6> Price range </h6>
                    </div>

                    <div class="col">
                        <div class="form-floating">
                            <input id="rangeMin"
                                   name="rangeMin"
                                   type="number"
                                   class="form-control"
                                   th:value="${min}"
                                   placeholder="0"/>
                            <label for="rangeMin">min</label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-floating">
                            <input id="rangeMax"
                                   name="rangeMax"
                                   type="number"
                                   th:value="${max}"
                                   class="form-control" p
                                   placeholder="100"/>
                            <label for="rangeMax">max</label>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">Apply filters</button>
            </form>
        </div>

        <div class="row" style="margin-top: 20px">


            <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
                <div th:each="product, i: ${products}">


                    <div class="card" style="margin: 10px;">

                        <div class="card-body">

                            <h5 lass="card-title form-control" th:text="${product.productName}"> Product name </h5>

                            <p class="card-text" th:text="${'trader: ' +product.trader}">Trader</p>
                            <p class="card-text" th:text="${'price: ' +product.price}">Price</p>
                            <p class="card-text" th:text="${'quantity available: ' +product.quantity}">Price</p>

                            <div class="row">
                                <form th:action="@{/addToCart}" method="post">
                                    <input name="id" th:value="${product.id}" type="hidden">
                                    <input name="productName" th:value="${product.productName}" type="hidden">
                                    <input name="trader" th:value="${product.trader}" type="hidden">
                                    <input name="price" th:value="${product.price}" type="hidden">

                                    <div class="column">
                                        <div class="form-floating">
                                            <input id="quantity"
                                                   name="quantity"
                                                   min="1"
                                                   type="number"
                                                   class="form-control"/>
                                            <label for="quantity">Quantity</label>
                                        </div>
                                    </div>
                                    <div class="column" style="margin-top: 10px;">
                                        <button type="submit" class="btn btn-primary">Add to cart</button>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="fragments/components::bootstrap_script"/>

</body>
</html>